#cart-icon{
	width:25px;
	display: inline-block;
    margin-right: 15px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .col {
      margin-bottom: 22px;
  }
  .box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}
.row-image{
	width: 100px;
}

.chg-quantity{
	width: 17px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}